<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="cart-container" mwlDroppable (drop)="addItem($event.dropData)">
    <ion-icon name="cart" (click)="isCartOpened = !isCartOpened"></ion-icon>
    <ion-badge color="primary">{{cartItemsLength}}</ion-badge>
    <span class="amount">
      $5,000
    </span>
  </div>

  <div class="cart-items-container" *ngIf="isCartOpened">
    <div *ngFor="let cartItem of cartItems; let i = index">
      <app-cart-item (deleteItem)="deleteItem()" [index]="i" [cartItem]="cartItem"></app-cart-item>
    </div>
  </div>

  <div class="list-items-container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let item of listItems">
          <div class="image-container" mwlDraggable [dropData]="item">
            <img [src]="item.image" class="list-item-img">
            <ion-icon name="add-circle" (click)="addItem(item)"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
